body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Axiforma, sans-serif;
    background-color: #f8f6f6;
}

.title {
    margin-top: -5px;
    font-family: Axiforma, sans-serif;
    font-weight: bold;
    font-size:32px;
    padding: 20px;
    color: black;
    background-color: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 20px 0px;
}

.interface{
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.outils{
    height:150px;
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px 100px 90px;
}

.filtre{
    height:150px;
    width: 80%;
    margin-right: 80px;
    color: black;
    background-color: white;
    text-align: left;
    padding:20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 20px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.filtre p{
    font-size: 20px;
    font-weight: bold;
}

.select_menus{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.overflow {
    height: 100px;
}

#region{
    margin-left: 30px;
}

.ui-selectmenu-button {
    border: 1px solid #000;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background-color: #C3C6D9FF;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

#tags {
    width: 250px;
    height:13px;
    border-radius: 10px;
    padding: 8px;
}

.legendes{
  height:190px;
    width: 20%;
  color: black;
  background-color: white;
  text-align: left;
  padding-left: 20px;
    padding-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 20px 0px;
  border-radius: 10px;
   display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.legendes p{
  font-size: 20px;
  font-weight: bold;
}

.contentLegend{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.circle1 {
    width: 25px;
    height: 25px;
    background-color: #ff8097;
    border-radius: 50%;
    margin-top: -5px;
    margin-bottom: 15px;
}

.circle2 {
    width: 25px;
    height: 25px;
    background-color: #95b8f6;
    border-radius: 50%;
    margin-bottom: 15px;
}

.circle3 {
    width: 25px;
    height: 25px;
    background-color: #4e825d ;
    border-radius: 50%;
}

.textLegend p{
    font-size: 16px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 20px;

}



.contents{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 100px;
  margin-right: 100px;
}

#map{
  height: 70vh;
  width:55%;

  margin-right: 80px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 20px 0px;
  border-radius: 10px;
}

/**mes modifs
#tabs{
  margin-left: 100px;
  height: auto;
  width:30%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 20px 0px;
  display: flex;
  flex-direction: column;
}

#tabs-2 {
    min-height: 100%;
}**/




